
<!-- {% block title %}S3 Bucket List{% endblock %} -->

<h2>S3 Bucket List</h2>


{% block content %}
  <div class="container">
    <div class="col-12-xs">
      <h3>Bucket List</h3>

      <table class="table table-striped">
        <tr>
          <th></th>
          <th>&nbsp; &nbsp;</th>
          <th></th>
          <th></th>
        </tr>

        {% for bucket in buckets %}
        <tr>
          <td>{{ bucket['Name'] }}</td>
          <td>&nbsp; &nbsp; </td>
          <td></td>
          <td>
            <form class="select-bucket" action="{{ url_for('index') }}" method="post">
              <input type="hidden" name="bucket" value="{{ bucket['Name'] }}">
              <button type="submit" class="btn btn-primary btn-sm">
                <i class="fa fa-archive"></i>
                Select
              </button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock %}
